<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% static "admin/css/base.css" %}{% endblock %}">
  {% block extrastyle %}{% endblock %}
  {% block responsive %}
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/responsive.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}">
    {% if LANGUAGE_BIDI %}<link rel="stylesheet" type="text/css" href="{% static "admin/css/responsive_rtl.css" %}">{% endif %}
  {% endblock %}
  {% block head %}{% endblock %}
  {% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE">{% endblock %}
</head>
<body class="{% block bodyclass %}{% endblock %}">
  {% module "header" %}

  {% block top %}
    <h1>Header {{ test }}</h1>
    {% for item in region.header -%}
      {{ item }},
    {%- endfor %}
  <nav>
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">Our team</a></li>
      <li><a href="#">Projects</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
    <form>
      <input type="search" name="q" placeholder="Search query">
      <input type="submit" value="Go!">
    </form>
  </nav>
  {% endblock %}

  {% block content %}
    <ul>
      {% for name, item in items %}
        <li>{{ name }}: {{ item }}</li>
      {% endfor %}
    </ul>
  {% endblock %}

  <main>
    {% module "sidebar" %}
  </main>
  {% module "footer"  %}
</body>
</html>
