{% extends "base.html" %}

{% block content %}
<div class="shadow-none p-0 mt-3 bg-white">
  <table class="table plugin-table">
    <thead>
      <tr class="plugin-list-header">
        <td><input type="checkbox" /></td>
        <td>Plugin</td>
        <td>Descrição</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><input type="checkbox" /></td>
        <td>
          <strong>Akismet Anti-Spam</strong>
          <ul class="plugin-actions">
            <li><a href="/dev/admin/plugins/options">Configurações</a></li>
            <li><a href="/dev/admin/plugins">Desativar</a></li>
          </ul>
        </td>
        <td>
          <p>Usado por milhões, Akismet é possivelmente a melhor maneira do mundo para proteger seu blog contra spam.
            Ele mantém seu site protegido mesmo enquanto você dorme.
            Para começar, vá até sua página de configurações do Akismet para configurar sua chave API.
          </p>
          <div class="plugin-actions-detail">
            Versão 4.1.4 | Por
          </div>
        </td>
      </tr>
      <tr>
        <td><input type="checkbox" /></td>
        <td>
          <strong>Akismet Anti-Spam</strong>
          <ul class="plugin-actions">
            <li><a href="/dev/admin/plugins/options">Configurações</a></li>
            <li><a href="/dev/admin/plugins">Desativar</a></li>
          </ul>
        </td>
        <td>
          <p>Usado por milhões, Akismet é possivelmente a melhor maneira do mundo para proteger seu blog contra spam.
            Ele mantém seu site protegido mesmo enquanto você dorme.
            Para começar, vá até sua página de configurações do Akismet para configurar sua chave API.
          </p>
          <div class="plugin-actions-detail">
            Versão 4.1.4 | Por
          </div>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr class="plugin-list-footer">
        <td><input type="checkbox" /></td>
        <td>Plugin</td>
        <td>Descrição</td>
      </tr>
    </tfoot>
  </table>
</div>
{% endblock %}
