body {
  background: #F4F4F4;
}

header {
  padding: 20px 0;
  color: white;
}

aside {
  background: #354555;
}

ul.vertical-menu-items {
  margin: 0;
  padding: 0;
}

ul.vertical-menu-items li {

}

ul.vertical-menu-items li a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  cursor: pointer;
}

ul.vertical-menu-items li > a svg {
  width: 24px;
  height: 24px;
  fill: white;
  text-align: center;
  opacity: 0.5;
}

ul.vertical-menu-items li:hover {
  background: rgba(0, 0, 0, 0.2);
}

ul.vertical-menu-items li:hover svg {
  opacity: 1;
}

.navbar-brand {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 0;
  margin: 10px 0 10px;
}

.navbar-brand > svg {
  width: 30px;
  height: 30px;
}

aside.cmsless-control {
  background: #f0f0f0 !important;
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  overflow: hidden;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
}

.plugin-table {
  /* border: 1px solid #ccc; */
  border-left: 1px solid #dee2e6;
  border-right: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
  border-spacing: 0px;
  border-collapse: separate;
  box-shadow: 0px 0px 1px rgba(0, 0, 3, 0.2);
}

.plugin-table td {
  font-size: 13px;
}

.plugin-table td p {
  margin-bottom: 5px;
}

.plugin-table thead td,
.plugin-table tfoot td {
  color: #777;
  background: #f0f0f0;
  padding-top: 2px;
  padding-bottom: 2px;
}

.plugin-table tbody,
.plugin-table tbody td {
  padding-left: 8px;
}

.plugin-table tbody td:first-child {
  border-left: 4px solid #a1cdea;
}

.plugin-table td ul.plugin-actions {
  display: flex;
  margin: 5px 0 0 0 !important;
  padding: 0;
}

.plugin-table td ul.plugin-actions li {
  list-style: none;
  border-right: 1px solid #eee;
  margin-right: 10px;
  padding-right: 10px;
}

.plugin-table td ul.plugin-actions li:last-child {
  list-style: none;
  border-right: none;
}

.plugin-table .plugin-list-header td:first-child {
  width: 40px;
}

.module-edition {
  border: 1px dashed red;
  margin: 5px;
  padding: 5px;
}

.extensible-area {
  display: inline-block;
  border: 1px dashed red;
  padding: 2px 5px;
  color: black;
  background: #fff5bf;
}

.page {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: stretch;
}

.principal {
  flex-grow: 4;
  position: relative;
  overflow: hidden;
}

.height-100-percent {
  height: 100%;
}

.cmsless-sidebar {
  width: 45px;
}

.cmsless-primary-menu {
  background: white;
  border-bottom: 1px solid #eee;
}

.cmsless-primary-menu ul.content-indicators {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  margin-right: 20px;
}
.cmsless-primary-menu ul.content-indicators li {
  list-style: none;
  margin-left: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  border-radius: 50%;
  padding: 5px;
}

.cmsless-primary-menu ul.content-indicators li svg {
  fill: #354555;
  opacity: 0.5;
}

.no-padding {
  padding-right:0;
  padding-left:0;
}

header.cmsless-navbar {
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.2);
}

header.cmsless-navbar svg {
  fill: #354555;
}

header.cmsless-navbar .img-fluid {
  border-radius: 50%;
  overflow: hidden;
  width: 45px;
}

header.bg-light {
  z-index: 9999;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
}

nav ol.breadcrumb {
  background-color: white;
  z-index: 9;
  margin: 0;
}

footer.cmsless-footer {
  background: #444;
  padding: 20px;
  color: white;
  position: absolute;
  bottom: 0;
  left: 60px;
  right: 0;
  margin-left: 10px;
  color: white;
}

.history-logs {
  background: #edeada;
  bottom: 0;
  top: 20px;
  position: absolute;
}
