{% extensible_area "outside_before" %}
<aside class="cmsless-sidebar navbar-light">
  {% include "icons-symbols.svg" %}

  {% macro icon(name) %}
      <svg><use xlink:href="#{{ name }}" /></svg>
  {% endmacro %}

  <a class="navbar-brand" href="#">
    {{ icon('social-logo') }}
  </a>

  {% extensible_area "inside_before" %}
  <ul class="vertical-menu-items">
    <li><a href="/dev/admin">{{ icon('house') }}</a></li>
    <li><a href="/dev/admin/list">{{ icon('icon-file-post') }}</a></li>
    <li><a href="/dev/admin/gallery">{{ icon('icon-images') }}</a></li>
    <li><a href="/dev/admin">{{ icon('chat-square') }}</a></li>
    <li><a href="/dev/admin">{{ icon('card-checklist') }}</a></li>
    <li><a href="/dev/admin">{{ icon('graph-up') }}</a></li>
    <li><a href="/dev/admin/plugins">{{ icon('icon-wrench') }}</a></li>
    <li><a href="/dev/admin/options">{{ icon('gear') }}</a></li>
  </ul>
  {% extensible_area "inside_after" %}
</aside>
{% extensible_area "outside_after" %}
