{% include "icons-symbols.html" %}

{% macro icon(name) %}
  <svg><use xlink:href="#{{ name }}" /></svg>
{% endmacro %}

{% extensible_area "outside_before" %}
<aside class="cmsless-sidebar navbar-light">

  <a class="navbar-brand" href="#">Navbar</a>
  {% extensible_area "inside_before" %}
  <ul class="vertical-menu-items">
    <li>{{ icon('house') }}</li>
    <li>{{ icon('card-checklist') }}</li>
    <li>{{ icon('graph-up') }}</li>
    <li>{{ icon('gear') }}</li>
  </ul>
  {% extensible_area "inside_after" %}
</aside>
{% extensible_area "outside_after" %}
